In [63]:
!pip install confluent_kafka sseclient

Requirement already satisfied: confluent_kafka in /opt/conda/lib/python3.11/site-packages (2.4.0)
Requirement already satisfied: sseclient in /opt/conda/lib/python3.11/site-packages (0.0.27)
Requirement already satisfied: requests>=2.9 in /opt/conda/lib/python3.11/site-packages (from sseclient) (2.31.0)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from sseclient) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests>=2.9->sseclient) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests>=2.9->sseclient) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests>=2.9->sseclient) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests>=2.9->sseclient) (2024.2.2)

In [64]:
from confluent_kafka import SerializingProducer, DeserializingConsumer
from confluent_kafka.serialization import StringSerializer, StringDeserializer
from confluent_kafka.admin import AdminClient, NewTopic
from uuid import uuid4
import sys, random

brokers = "kafka1:9092,kafka2:9093"

In [65]:
pconf = {
    'bootstrap.servers': brokers,
    'partitioner': 'murmur2_random',
    'key.serializer': StringSerializer('utf_8'),
    'value.serializer':  StringSerializer('utf_8')
}

In [66]:
p = SerializingProducer(pconf)

In [67]:
stocks = "sample.csv"

In [68]:
from datetime import datetime  
  #2023-10-13T08:16:13Z
def construct_stock(row):
    time_stamp = time.time()
    date_time = datetime.fromtimestamp(time_stamp)
    str_date_time = date_time.strftime("%Y-%m-%dT%H:%M:%SZ") #"%d-%m-%Y, %H:%M:%S"
    stock = {"TODO": row[6],
             "TODO": float(row[2]),
             "timestamp":str_date_time
             }
    return stock

In [69]:
import csv
import json
from datetime import datetime

def construct_stock(row):
    try:
        return {
            "license": row[0],  
            "total_amount": float(row[1]),
            "timestamp": datetime.fromtimestamp(int(row[5])).strftime("%Y-%m-%dT%H:%M:%SZ")
        }
    except ValueError:
        print(f"Skipping row with non-numeric value: {row}")
        return None
  
stocks = "sample.csv"  
n = 0

with open(stocks) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    header = next(csv_reader) # read the header row
    for row in csv_reader:
        n = n + 1
        stock = construct_stock(row)
        if stock is not None:
            p.produce('stock', value=json.dumps(stock))

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

Skipping row with non-numeric value: ['AC685D6E8D5F37E36209988E510DADEE', '0BB61C85B29B80015D67F4445466669C', 'VTS', '1', '', '2013-01-13 19:09:00', '2013-01-13 19:22:00', '1', '780', '3.15', '-73.961639', '40.764557', '-74.001266', '40.755424']
Skipping row with non-numeric value: ['FD656CFF77011E79FD49FE4DAB7D1A1C', '7EA632323D0353F462566B217E033F84', 'VTS', '1', '', '2013-01-13 19:19:00', '2013-01-13 19:24:00', '1', '300', '1.15', '-73.988838', '40.745701', '-74.002617', '40.740063']
Skipping row with non-numeric value: ['04C271CE9B4F096FD7EC1E3733C01579', '905351B4B6B0090F05608E53EB948BBC', 'VTS', '1', '', '2013-01-13 18:50:00', '2013-01-13 18:57:00', '6', '420', '1.40', '-73.983528', '40.688831', '-73.982834', '40.675747']
Skipping row with non-numeric value: ['F6BB15B0F863D58E24EAC1D99AA7230D', 'DE71A0CE2C79C14DE76DD394D3CBBBF3', 'VTS', '1', '', '2013-01-13 19:00:00', '2013-01-13 19:26:00', '1', '1560', '15.40', '-73.870354', '40.77359', '-74.01432', '40.704266']
Skipping row with non-numeric value: ['FD26FB5E970C62255F9F66EC70DD5DC9', '2688BFABEBF84C1D47D48DF2DE8B3B93', 'VTS', '1', '', '2013-01-13 19:16:00', '2013-01-13 19:26:00', '1', '600', '1.10', '-73.977478', '40.750309', '-73.984756', '40.724342']
Skipping row with non-numeric value: ['F151C67B2D912D2F29931711B28204F4', 'B82B10A5122179C6E483D24008BCE34A', 'VTS', '1', '', '2013-01-13 19:22:00', '2013-01-13 19:26:00', '1', '240', '.75', '-73.96106', '40.770096', '-73.959839', '40.776516']
Skipping row with non-numeric value: ['D51A5AB5A14F8C3D0E8BD2A89696B616', 'FDC26986A0D5B6FFAA69D18D6B543FEE', 'VTS', '1', '', '2013-01-13 19:24:00', '2013-01-13 19:28:00', '1', '240', '1.23', '-73.991653', '40.754562', '-73.9795', '40.744701']
Skipping row with non-numeric value: ['287DBBA18C622BEA67A6EC02414D8C2B', '5A0797FEE123C0E1AE4CEB62F1428E85', 'VTS', '4', '', '2013-01-13 19:20:00', '2013-01-13 19:27:00', '1', '420', '1.39', '-74.008049', '40.704948', '-74.014046', '40.715149']
Skipping row with non-numeric value: ['473D1C6B39C5BDD8BAE1E4822DDB4E84', '228490F9FE70AC23CFA53388278624ED', 'VTS', '1', '', '2013-01-13 19:20:00', '2013-01-13 19:26:00', '1', '360', '.82', '-73.987679', '40.759068', '-73.98909', '40.752712']
Skipping row with non-numeric value: ['12B46A3AAAEAD50862647CDDCC705479', '169FC5ADF4631306E7E437B6B8FFA4ED', 'VTS', '1', '', '2013-01-13 19:09:00', '2013-01-13 19:28:00', '1', '1140', '3.86', '-73.975662', '40.761299', '-73.977448', '40.787354']
Skipping row with non-numeric value: ['F37FA2DCBD59F004EDB24718B990E02C', 'F5FFA4AA6DB399BB0838088FBC4CDF18', 'VTS', '1', '', '2013-01-13 19:21:00', '2013-01-13 19:29:00', '1', '480', '1.90', '-73.979965', '40.743015', '-73.994209', '40.732731']
Skipping row with non-numeric value: ['CDB8658D5C430D1414D3F78511163A0E', 'F18D91AB8C45037980C56D08B85917D9', 'VTS', '1', '', '2013-01-13 19:20:00', '2013-01-13 19:25:00', '1', '300', '1.20', '-73.98999', '40.757198', '-73.977386', '40.765202']
Skipping row with non-numeric value: ['7BFF0FEF6E0338F6F51ECA9AE06E2AD2', '4A1AAD24EE7B46D317B8E02FFB89A1E2', 'VTS', '1', '', '2013-01-13 19:17:00', '2013-01-13 19:26:00', '5', '540', '2.15', '-73.980873', '40.76759', '-73.977188', '40.758701']
Skipping row with non-numeric value: ['07A0F87F3E065B7013796526962B61FA', 'DF75CBD11E89DC914D6610C1968C2418', 'VTS', '1', '', '2013-01-13 19:24:00', '2013-01-13 19:27:00', '1', '180', '1.16', '-73.973404', '40.743744', '-73.964348', '40.756401']
Skipping row with non-numeric value: ['2F7C7828E4696AEDC0A102113AB1AF3D', '6824528D4BA7190EFD9ABE2A9DA93D3A', 'VTS', '1', '', '2013-01-13 19:24:00', '2013-01-13 19:28:00', '3', '240', '.85', '-73.953903', '40.821499', '-73.944351', '40.828144']
Skipping row with non-numeric value: ['223670562219093D6B5A51528430CCD0', '08BD12ACBFE186136B7B3D7D8A34607D', 'VTS', '1', '', '2013-01-13 19:18:00', '2013-01-13 19:27:00', '1', '540', '1.46', '-73.982498', '40.731411', '-73.98558', '40.74662']
Skipping row with non-numeric value: ['A95A1E3D8403A43DCC4B9CA6D4D44B34', '881B345A0E450984314CB6A5F3E56389', 'VTS', '1', '', '2013-01-13 19:23:00', '2013-01-13 19:29:00', '2', '360', '1.38', '-73.987167', '40.739132', '-73.973785', '40.751728']
Skipping row with non-numeric value: ['B5B3277A071E6FABA59080A3B4F9E675', 'FF4CCCFF03CDB40E5E1DB7685734AD4F', 'VTS', '1', '', '2013-01-13 19:28:00', '2013-01-13 19:28:00', '1', '0', '.24', '-73.980804', '40.742073', '-73.980164', '40.743076']
Skipping row with non-numeric value: ['A5A016EB51230A98EFBAF8FFFEFA9F99', '46E1EB60C98428A1341A848B3FFFECFF', 'VTS', '1', '', '2013-01-13 19:11:00', '2013-01-13 19:26:00', '6', '900', '3.51', '-73.980804', '40.742195', '-73.986572', '40.776993']
Skipping row with non-numeric value: ['CD2922BF699978BB6DEBD8524FD6CD2A', '0AEA08FFEF113163D017A09FCCD3BD55', 'VTS', '1', '', '2013-01-13 19:23:00', '2013-01-13 19:28:00', '1', '300', '1.79', '-73.968376', '40.751831', '-73.952438', '40.772232']
Skipping row with non-numeric value: ['CC9C6C35BC5BE980A0AC1D5DF3BF2911', '20C20B8E134E0CCA156C4474BFEF2351', 'VTS', '1', '', '2013-01-13 19:14:00', '2013-01-13 19:24:00', '2', '600', '2.11', '-73.977257', '40.756927', '-73.998848', '40.750011']
Skipping row with non-numeric value: ['62CB14A1FECF9C1CB520381E8F2D42FD', '7D4E993AE07099C1D4D7D77C3C4911DD', 'VTS', '1', '', '2013-01-13 19:19:00', '2013-01-13 19:25:00', '5', '360', '.95', '-73.989487', '40.71899', '-73.986069', '40.730213']
Skipping row with non-numeric value: ['7165E54E0D625763E4187AA60BB66D45', '815013E405BC17F748860EEC5AB55A79', 'VTS', '1', '', '2013-01-13 19:05:00', '2013-01-13 19:25:00', '1', '1200', '6.52', '-73.960495', '40.797539', '-73.981445', '40.728962']
Skipping row with non-numeric value: ['698A6074D905BC18FE001032FA0B2048', '9DD371ABD063A73DE21FA2E1E2C7A634', 'VTS', '1', '', '2013-01-13 19:22:00', '2013-01-13 19:27:00', '5', '300', '1.17', '-73.990463', '40.750652', '-73.98381', '40.758312']
Skipping row with non-numeric value: ['1CF2978577EAB95B50E142540CDCD304', 'C09896EF9B13E6CBEC31B25603576395', 'VTS', '1', '', '2013-01-13 19:03:00', '2013-01-13 19:38:00', '1', '2100', '4.87', '-73.999435', '40.74052', '-73.977844', '40.688774']
Skipping row with non-numeric value: ['D0638E4D841024F008826A5178A9D6E4', 'E3F45525BAA55891F82FD89D38221EBB', 'VTS', '1', '', '2013-01-13 19:06:00', '2013-01-13 19:25:00', '4', '1140', '3.31', '-73.99659', '40.725506', '-73.963371', '40.711182']
Skipping row with non-numeric value: ['6496A0CBBBAD8CDB5F160110B78E0F07', '5BC712E3724DC907182065BC7C3CBD41', 'VTS', '1', '', '2013-01-13 19:17:00', '2013-01-13 19:26:00', '1', '540', '1.47', '-73.98996', '40.734612', '-74.005379', '40.728245']
Skipping row with non-numeric value: ['D78AF33054E46EB023289A0CBBA4936C', '2CAFFE0DDD311B5384DD77B30A1BFD45', 'VTS', '1', '', '2013-01-13 19:17:00', '2013-01-13 19:28:00', '5', '660', '2.13', '-73.961143', '40.760578', '-73.986732', '40.776821']
Skipping row with non-numeric value: ['5827B7604F840FEDC14D2855774020CF', '85633FAC0236E0C61CC46DED975D2C1C', 'VTS', '1', '', '2013-01-13 19:24:00', '2013-01-13 19:27:00', '1', '180', '.75', '-73.983788', '40.761059', '-73.99041', '40.757107']
Skipping row with non-numeric value: ['04C271CE9B4F096FD7EC1E3733C01579', '905351B4B6B0090F05608E53EB948BBC', 'VTS', '1', '', '2013-01-13 19:15:00', '2013-01-13 19:27:00', '6', '720', '4.37', '-73.995758', '40.687397', '-74.00296', '40.706501']
Skipping row with non-numeric value: ['E81395630B8AF74FE4CF3833E1C5F736', 'A59797BFAEB268DF2DE722F7DF2F43E2', 'VTS', '1', '', '2013-01-13 19:18:00', '2013-01-13 19:28:00', '2', '600', '1.92', '-73.987381', '40.735939', '-73.983986', '40.757351']
Skipping row with non-numeric value: ['19B4B9F2AA7D248A61DAE4B8EA9B5D32', '8131B4FB391E29C782B0B75C05111437', 'VTS', '3', '', '2013-01-13 19:01:00', '2013-01-13 19:28:00', '1', '1620', '13.23', '-73.997765', '40.729252', '-74.178558', '40.708572']
Skipping row with non-numeric value: ['56BD8746B522EEE60A8A7ED97C275FF2', '29749B6541B5F719AEF40A7C8A1F6798', 'VTS', '1', '', '2013-01-13 19:16:00', '2013-01-13 19:28:00', '5', '720', '3.31', '-73.965309', '40.763378', '-73.934135', '40.797997']
Skipping row with non-numeric value: ['100259CA7B7A590C13E40D5778C0123C', 'CFAF80330CF4A0809B640671EAEA0C8B', 'VTS', '1', '', '2013-01-13 19:26:00', '2013-01-13 19:29:00', '1', '180', '.73', '-73.983543', '40.771011', '-73.992218', '40.767445']
Skipping row with non-numeric value: ['26AB00A95EF60968E27B94C6172B289F', '33F42987A68B58B3F9758D55DC783B3D', 'VTS', '1', '', '2013-01-13 19:19:00', '2013-01-13 19:26:00', '1', '420', '1.12', '-73.976418', '40.789501', '-73.982002', '40.776821']
Skipping row with non-numeric value: ['2661F8B55002CBF46155A9BB67C9358C', '5CCDCEF4637A18D2441DA35FBAAD6BE3', 'VTS', '1', '', '2013-01-13 19:17:00', '2013-01-13 19:27:00', '1', '600', '2.10', '-73.975388', '40.753071', '-73.998489', '40.738155']
Skipping row with non-numeric value: ['99A42812E64BD9D2DACBFFF38FF92EEA', 'D960817D064A45957A00EAC0B3981F94', 'VTS', '1', '', '2013-01-13 19:20:00', '2013-01-13 19:26:00', '1', '360', '1.30', '-73.987724', '40.746437', '-74.000023', '40.739651']
Skipping row with non-numeric value: ['A60582B24EA74057215C310935AA3493', 'A4622754079813D012DBA13B50EE20B9', 'VTS', '1', '', '2013-01-13 19:06:00', '2013-01-13 19:28:00', '5', '1320', '5.13', '-73.963852', '40.755165', '-73.893829', '40.742596']
Skipping row with non-numeric value: ['6CE32B95BD6B798EC2ABCC7AD6542F60', '068242495D7B4B2597BF09845B6E992B', 'VTS', '1', '', '2013-01-13 19:21:00', '2013-01-13 19:28:00', '1', '420', '1.23', '-73.993874', '40.751301', '-73.977837', '40.753601']
Skipping row with non-numeric value: ['83745CABFF0A2763618FB3837366889B', '23CE32E836BB0C56445E7674F27D0B60', 'VTS', '1', '', '2013-01-13 19:17:00', '2013-01-13 19:24:00', '2', '420', '.11', '0', '0', '0', '0']
Skipping row with non-numeric value: ['B248535CA4D85DCC8333358F5F9AC409', '443019E054A6E605A1196A8D4C4855B1', 'VTS', '1', '', '2013-01-13 18:59:00', '2013-01-13 19:26:00', '1', '1620', '5.77', '-73.994911', '40.745052', '-73.938721', '40.715221']
Skipping row with non-numeric value: ['1383C0D1BEEB6E524E3B917F4CBF88EC', '7921DB7061AD2E7BDE2072CE3F819128', 'VTS', '1', '', '2013-01-13 19:13:00', '2013-01-13 19:26:00', '4', '780', '6.65', '-73.875328', '40.773869', '-73.944504', '40.71513']
Skipping row with non-numeric value: ['ADE0983EAC235D0E64F2A35867C04A19', '6201E06FCC8DEC9C6AE8837B8B3F1BF7', 'VTS', '1', '', '2013-01-13 19:20:00', '2013-01-13 19:28:00', '2', '480', '1.45', '-73.963692', '40.768456', '-73.983109', '40.769146']
Skipping row with non-numeric value: ['E39E422DA1411C2E5DC05282C1D371B3', '2B63532F779B2C53891FA6AFE593E55E', 'VTS', '5', '', '2013-01-13 19:06:00', '2013-01-13 19:28:00', '1', '1320', '12.89', '-74.037437', '40.731327', '-74.193092', '40.686882']
Skipping row with non-numeric value: ['E63FB9A6397F26C7CC32816ED2692B51', 'E7637E54C338527CD54B9FAF584D6E96', 'VTS', '1', '', '2013-01-13 14:35:00', '2013-01-13 14:43:00', '5', '480', '2.07', '-73.995377', '40.764744', '-73.976479', '40.790768']
Skipping row with non-numeric value: ['39F614477C0F60F6184A733BD20E7CB2', '92046E4DE64475F31D68A0B1FEF71A99', 'VTS', '1', '', '2013-01-13 14:40:00', '2013-01-13 14:51:00', '5', '660', '.94', '-73.970047', '40.759434', '-73.985573', '40.766125']
Skipping row with non-numeric value: ['3C2A4F6749071838209309A7A8E1898F', 'F6ACA012070B7779106DE2B0C4EDE3FC', 'VTS', '2', '', '2013-01-13 14:22:00', '2013-01-13 14:49:00', '1', '1620', '19.10', '-73.946945', '40.788448', '-73.782394', '40.646702']
Skipping row with non-numeric value: ['59CD993D8ECB22E1C9BD01A628777293', '4C634E5D85C5350A3E7A337DB81AEB06', 'VTS', '1', '', '2013-01-13 14:47:00', '2013-01-13 14:51:00', '1', '240', '1.29', '-73.965508', '40.762356', '-73.958405', '40.772709']
Skipping row with non-numeric value: ['2FEA0AF4B4BDD3A9B80AEDB37420E7A6', '878CC2983856988E0D0B23EBF19381C3', 'VTS', '1', '', '2013-01-13 14:47:00', '2013-01-13 14:52:00', '1', '300', '.68', '-73.991142', '40.71751', '-73.988441', '40.725094']
Skipping row with non-numeric value: ['AD430EE39BBB70C317EF2509909FCC2B', '65EF7CC5FB7BA0B420AB6D65DCA2777E', 'VTS', '1', '', '2013-01-13 14:39:00', '2013-01-13 14:47:00', '2', '480', '1.19', '-73.976952', '40.758671', '-73.963829', '40.765175']
Skipping row with non-numeric value: ['DBB21B1E61EDCA893C6F77F180A93C28', '1C5D8413099B08F990E5647DEA4ED074', 'VTS', '1', '', '2013-01-13 14:53:00', '2013-01-13 14:56:00', '1', '180', '.56', '-73.962555', '40.763103', '-73.967537', '40.756447']
Skipping row with non-numeric value: ['93D28E379B9A1CE04D176E72F982AFB5', 'B44EE381E2D7A3FB7DB42C07CAFB3A43', 'VTS', '1', '', '2013-01-13 14:44:00', '2013-01-13 14:51:00', '1', '420', '1.20', '-73.97821', '40.762154', '-73.99279', '40.768387']
Skipping row with non-numeric value: ['4A2CABC19B0EDB96B1B8C07617347AC5', '9EEF9F448D2C1C45DA13055EC7CAA5A2', 'VTS', '1', '', '2013-01-13 14:48:00', '2013-01-13 14:52:00', '6', '240', '.81', '-73.961014', '40.769199', '-73.967659', '40.762833']
Skipping row with non-numeric value: ['FDAC52AC509274B36E441D632CCA4AF4', '5CB8244D290204425BEADAAA610C4401', 'VTS', '1', '', '2013-01-13 14:40:00', '2013-01-13 14:52:00', '2', '720', '1.68', '-74.008835', '40.731266', '-73.986198', '40.731171']
Skipping row with non-numeric value: ['AC07C55C25773A929129BC1E3A701F95', '4B926B7E8762F26008B3E51273E48A2E', 'VTS', '1', '', '2013-01-13 14:41:00', '2013-01-13 14:53:00', '1', '720', '.99', '-73.98806', '40.756271', '-74.000015', '40.758671']
Skipping row with non-numeric value: ['990615FE9DE11BF0052D83A735D71709', 'C61FB3BD3F84AA43D76808351EAE3715', 'VTS', '1', '', '2013-01-13 14:46:00', '2013-01-13 14:49:00', '1', '180', '.82', '-73.999176', '40.734043', '-73.998268', '40.742001']
Skipping row with non-numeric value: ['76D49C40320F90E63A73940C7BA914AE', '7B90F76793CFB83B9579EAAAF7C0F42E', 'VTS', '1', '', '2013-01-13 14:39:00', '2013-01-13 14:53:00', '2', '840', '1.98', '-74.002892', '40.718258', '-73.992104', '40.717663']
Skipping row with non-numeric value: ['746B3CD01F3DD1B976876794035865FA', '038CC8BBAFF6293A50C0D1D355227024', 'VTS', '1', '', '2013-01-13 14:46:00', '2013-01-13 14:53:00', '1', '420', '1.50', '-74.006302', '40.733459', '-73.989433', '40.740211']
Skipping row with non-numeric value: ['C4F1EC1752B27FDDEA8E6C18C5E9DE4F', '065614D7129A4808090E15C330F05017', 'VTS', '2', '', '2013-01-13 14:20:00', '2013-01-13 14:48:00', '1', '1680', '1.85', '-73.776566', '40.645283', '-73.993187', '40.731651']
Skipping row with non-numeric value: ['9841E7C6501335928536C717A7313EE2', '1DF76F48A6FCAEBAD10005556B0880BA', 'VTS', '1', '', '2013-01-13 14:51:00', '2013-01-13 14:55:00', '1', '240', '1.54', '-73.966019', '40.794949', '-73.977745', '40.776886']
Skipping row with non-numeric value: ['096F1B5831E8541B4E0216CEE214F415', '033F9637B4246B57EAEDB302A0360A31', 'VTS', '1', '', '2013-01-13 14:37:00', '2013-01-13 14:52:00', '1', '900', '2.30', '-73.978043', '40.752457', '-74.003113', '40.735111']
Skipping row with non-numeric value: ['74DA41EDA745ED72CEC41C9C4BF3E696', '8BD304B834A571C38BF71DDB212ECA17', 'VTS', '1', '', '2013-01-13 14:45:00', '2013-01-13 14:49:00', '1', '240', '.12', '-73.976799', '40.743397', '-73.967537', '40.752399']
Skipping row with non-numeric value: ['237A2696AB1B0BA9D4159E66B3809F2B', '15B33366F6D0C4B140CA059B6C7A2F9B', 'VTS', '1', '', '2013-01-13 14:45:00', '2013-01-13 14:52:00', '5', '420', '1.14', '-73.973991', '40.763618', '-73.96299', '40.772469']
Skipping row with non-numeric value: ['455375859B7C841ECB99E7401B39EBA5', 'D08F2C1589B4D7B62C10750A8F45D9DD', 'VTS', '1', '', '2013-01-13 14:42:00', '2013-01-13 14:53:00', '2', '660', '1.46', '-73.958885', '40.763973', '-73.982132', '40.773827']
Skipping row with non-numeric value: ['80D52C5885ECE494DE95F9B2E69DA7EF', 'AE36F4D3D58D00105F9626F6779E1A79', 'VTS', '1', '', '2013-01-13 14:52:00', '2013-01-13 14:55:00', '1', '180', '.52', '-73.955872', '40.782017', '-73.953262', '40.787792']
Skipping row with non-numeric value: ['D7C699A3DC7546627155502A3B77FEB2', '723984BCDEFC1C46645A3C1808771E89', 'VTS', '1', '', '2013-01-13 14:42:00', '2013-01-13 14:53:00', '1', '660', '1.35', '-73.999603', '40.743614', '-73.987885', '40.759712']
Skipping row with non-numeric value: ['BAAC72BF93F2D99F9DC0CD38CB53F96D', '5599EA08F33A7F9B45C5C15593091928', 'VTS', '1', '', '2013-01-13 14:55:00', '2013-01-13 14:56:00', '1', '60', '.56', '-73.958488', '40.772636', '-73.954193', '40.778637']
Skipping row with non-numeric value: ['86845617E8D805CC175640E6701E2B9B', 'C78936B41FC60215267B7C9FC5D1A0D6', 'VTS', '1', '', '2013-01-13 14:50:00', '2013-01-13 14:53:00', '2', '180', '.52', '-73.973793', '40.792027', '-73.970535', '40.793793']
Skipping row with non-numeric value: ['59A0C16E586FBDD9CBA755393BC8B279', 'A4905117273C479965F469A85DE2363D', 'VTS', '1', '', '2013-01-13 14:47:00', '2013-01-13 14:56:00', '1', '540', '1.23', '-73.961761', '40.764019', '-73.968109', '40.755379']
Skipping row with non-numeric value: ['BAEA12D2D599FFAF643712094749818D', 'E9351D10A4AC6686265013504D936E4E', 'VTS', '1', '', '2013-01-13 20:09:00', '2013-01-13 20:19:00', '1', '600', '1.65', '-73.988533', '40.737316', '-73.986702', '40.721573']
Skipping row with non-numeric value: ['BC4E8A8FE24AEC698ABE084D2429D820', 'A129DE80E78907AB97D3BDB5620F5AB0', 'VTS', '1', '', '2013-01-13 20:13:00', '2013-01-13 20:20:00', '1', '420', '.91', '-73.986519', '40.762566', '-73.986519', '40.762566']
Skipping row with non-numeric value: ['AE4C870C6F0D57E3C9E1BBB8841DB28A', 'B0B1A680BE3F3B581E1F5AD2137FB87D', 'VTS', '1', '', '2013-01-13 20:08:00', '2013-01-13 20:20:00', '5', '720', '1.64', '-73.988892', '40.731049', '-73.983536', '40.738293']
Skipping row with non-numeric value: ['60F19C9FCCDB3E9A92FAD25CE18B3E54', '45DA1701E9EAF9FEA4E58ABF197B712B', 'VTS', '1', '', '2013-01-13 20:02:00', '2013-01-13 20:22:00', '1', '1200', '9.61', '-73.787369', '40.641617', '-73.917168', '40.672516']
Skipping row with non-numeric value: ['BABE5BDE4648ECFD5ED9D1B950533220', '667048460A5744426732A82B49F42DBB', 'VTS', '1', '', '2013-01-13 20:10:00', '2013-01-13 20:21:00', '1', '660', '2.85', '-73.956024', '40.763828', '-73.987755', '40.749855']
Skipping row with non-numeric value: ['9B59878E68F3A5B1E80B03235A33C184', '2A530D3893D0BBDEA42B39B46F2E3B4E', 'VTS', '1', '', '2013-01-13 20:09:00', '2013-01-13 20:20:00', '2', '660', '2.51', '-73.971283', '40.755131', '-73.988518', '40.774296']
Skipping row with non-numeric value: ['61F44C93E6A0144B432041EE033F10C5', '897FE19636F950A89899CE6DB3AFD03A', 'VTS', '1', '', '2013-01-13 20:17:00', '2013-01-13 20:22:00', '1', '300', '1.13', '-74.003853', '40.720978', '-74.00087', '40.746342']
Skipping row with non-numeric value: ['EE07B576CBB5EB2F5C8C8B27AC3B7624', 'F8A6B1EE8DA80763DD0929C2D4C0B0B2', 'VTS', '1', '', '2013-01-13 20:22:00', '2013-01-13 20:27:00', '1', '300', '1.27', '-73.982391', '40.730446', '-73.971939', '40.745903']
Skipping row with non-numeric value: ['D796EED505FE96C591232180B593A21B', '7ABF6B6E7F3BD2942B9A27AD5B8A80A1', 'VTS', '1', '', '2013-01-13 20:13:00', '2013-01-13 20:23:00', '1', '600', '2.93', '-73.975075', '40.718357', '-73.975075', '40.718357']
Skipping row with non-numeric value: ['59FA6ED6AA4E3C7370C5A2AAC5CEBEEF', '3A37C575F3423259878125F82777B4D0', 'VTS', '1', '', '2013-01-13 20:20:00', '2013-01-13 20:24:00', '1', '240', '1.50', '-74.008308', '40.738575', '-73.975716', '40.791641']
Skipping row with non-numeric value: ['39EE606D64DBF47084D6A4FF34F3E5E3', '5577BE104B7AF57CA24FF69D2010E833', 'VTS', '1', '', '2013-01-13 20:18:00', '2013-01-13 20:23:00', '1', '300', '.92', '-73.980217', '40.742661', '-73.984619', '40.732731']
Skipping row with non-numeric value: ['45E4FB0397F8D1F087B629C024ED263E', '95F21536B9072DCDF7AF4B5CF4D4E1E5', 'VTS', '1', '', '2013-01-13 20:15:00', '2013-01-13 20:26:00', '1', '660', '2.41', '-74.003593', '40.73658', '-73.982597', '40.765743']

### Use only if you need to purge all the messages in the queue

In [70]:
brokers = "kafka1:9092,kafka2:9093"

admin_client = AdminClient({"bootstrap.servers":brokers})
admin_client.delete_topics(topics=['stock'])

{'stock': <Future at 0x7fa6705bee10 state=running>}